<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Hello, world!{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load staticfiles %}

        <!-- <link rel="shortcut icon" href="/static/favicon.ico"> -->
        <!-- <link type="text/plain" rel="author" href="/static/humans.txt" /> -->

        <link rel="stylesheet" href="{% static 'css/dependencies.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/screen.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">My Project</a>
                </div>

                <div class="collapse navbar-collapse" id="nav-collapse">
                    {% if user.is_authenticated %}
                        <form class="navbar-form navbar-right" role="form" method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default">Logout</button>
                        </form>
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><p class="navbar-text">Logged in as <strong><a href="{% url 'dashboard' %}">{{ user.get_identification }}</a></strong></p></li>
                        {% endif %}
                        {% if not user.is_authenticated %}
                            <li><a href="{% url 'login' %}" class="btn btn-link">Login</a></li>
                            <li><a href="{% url 'register' %}" class="btn btn-link">Register</a></li>
                            <li><a href="{% url 'password_reset' %}" class="btn btn-link">Password Reset</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <script src="{% static 'js/dependencies.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>

        {% if debug %}
            <script type='text/javascript' id="__bs_script__">
                document.write("<script async src='//HOST:8001/browser-sync/browser-sync-client.2.1.1.js'><\/script>".replace(/HOST/g, location.hostname).replace(/PORT/g, location.port));
            </script>
        {% endif %}
    </body>
</html>
